<!DOCTYPE html>
<html>
    <head>
        <title>Babak Ar</title>
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0, minimum-scale=1.0" />

        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="default.css">
    </head>
    <body>

        <section class="s1">
            <div class="main-container">
                <div class="greeting-wrapper">
                    <h2>Welcome, To DreamFamilyDental </h2>
                </div>

                <div class="intro-wrapper">
                    <div class="nav-wrapper">
                        <div id="theme-options-wrapper">
                            <div id="light-mode" class="theme-dot"></div>
                            <div id="blue-mode" class="theme-dot"></div>
                            <div id="green-mode" class="theme-dot"></div>
                            <div id="purple-mode" class="theme-dot"></div>
                        </div>

                        <ul id="navigation">
                            <li><a href="#">HOME|</a></li>
                            <li><a href="#">ABOUT|</a></li>
                            <li><a href="#">SERVICES|</a></li>
                            <li><a href="#">CONTECT|</a></li>
                        </ul>
                    </div>

                    <div class="left-column">
                        <img id="profile_pic" src="images/millani.png">
                        <h5 style="text-align: center; line-height: 0;">Dr. Mandana B. Milani</h5>
                        <p id="setting-note">At Dream Family Dental Dr. Mandana B. Milani <br>
                            and team are committed to <br> READ MORE</p>
                    </div>

                    <div class="right-column">
                        <div id="preview-shadow">
                            <div id="preview">
                                <div id="corner-tl" class="corner"></div>
                                <div id="corner-tr" class="corner"></div>
                                <h3>SLIDE SHOW</h3>
                                <p>Place for picture and video</p>
                                <div id="corner-bl" class="corner"></div>
                                <div id="corner-br" class="corner"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="s2">
            <div class="main-container">
                <p>About</p>
            </div>
        </section>

        <section class="s1">
            <div class="main-container">
                <p>Our Service</p>
            </div>
        </section>

        <section class="s2">
            <div class="main-container">
                <p>content</p>
            </div>
        </section>

    </body>
</html>