<!DOCTYPE html>
<html>
    <head>
        <title>post area</title>
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0, minimum-scale=1.0" />

        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="default.css">
    </head>
    <body>
        <div class="main-content">
            <div class="nav-wrapper">
                <div id="theme-options-wrapper">
                    <div id="light-mode" class="theme-dot"></div>
                    <div id="blue-mode" class="theme-dot"></div>
                    <div id="green-mode" class="theme-dot"></div>
                    <div id="purple-mode" class="theme-dot"></div>
                </div>

                <ul id="navigation">
                    <li><a href="#">HOME|</a></li>
                    <li><a href="#">ABOUT|</a></li>
                    <li><a href="#">SERVICES|</a></li>
                    <li><a href="#">CONTECT|</a></li>
                </ul>
            </div>
            <p>This is post name</p>
        </div>

    </body>
</html>